<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>ShowImg</servlet-name>
    <servlet-class>servlets.ShowImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login_1</servlet-name>
    <servlet-class>servlets.Login_1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetViewAndCookie</servlet-name>
    <servlet-class>servlets.GetViewAndCookie</servlet-class>
  </servlet>
<servlet>
    <servlet-name>cj</servlet-name>
    <servlet-class>servlets.cj</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kb</servlet-name>
    <servlet-class>servlets.kb</servlet-class>
  </servlet>




<servlet-mapping>
    <servlet-name>kb</servlet-name>
    <url-pattern>/kb</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>cj</servlet-name>
    <url-pattern>/cj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowImg</servlet-name>
    <url-pattern>/ShowImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login_1</servlet-name>
    <url-pattern>/Login_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetViewAndCookie</servlet-name>
    <url-pattern>/GetViewAndCookie</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>fill.jsp</welcome-file>
  </welcome-file-list>
</web-app>
